Repository sgd122/turbo-repo: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache, yarn workspace app lint --cache

feat: test 코드 예제 삽입
  apps/api/src/server.ts
  apps/web/.eslintrc.js
  apps/web/package.json
  apps/web/src/__tests__/web.test.ts
  jest.config.js
  jest.setup.ts
  packages/eslint-config/package.json
  packages/jest-presets/node/jest-preset.js
  packages/typescript-config/base.json
  packages/typescript-config/nextjs.json
  packages/typescript-config/react-library.json
  packages/ui/.eslintrc.js
  packages/ui/.prettierrc.js
  packages/ui/package.json
  packages/ui/src/__tests__/ui.test.ts
  packages/ui/src/button.tsx
  yarn.lock
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat: lint관련 설정 변경
  apps/web/.eslintrc.js
  apps/web/package.json
  packages/ui/.eslintrc.js
  packages/ui/package.json
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat: jest 설정 추가
  .lintstagedrc.json
  apps/api/package.json
  apps/web/jest.config.js
  apps/web/package.json
  jest.config.js
  jest.setup.ts
  packages/ui/package.json
  turbo.json
  yarn.lock
Due: yarn workspace web lint --cache

feat(ui): jest설정 추가
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/components/button.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/index.ts
  yarn.lock
Due: yarn workspace @repo/ui lint --cache

feat: testing-library 설정 추가
  apps/web/package.json
  packages/ui/package.json
  yarn.lock
Due: none

feat(ui): ui라이브러리 빌드 추가
  apps/api/package.json
  apps/web/src/app/page.tsx
  packages/eslint-config/library.js
  packages/jest-presets/package.json
  packages/logger/package.json
  packages/ui/index.d.ts
  packages/ui/package.json
  packages/ui/vite.config.mts
  yarn.lock
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat: add a storybook project
  .gitignore
  apps/storybook/.storybook/main.js
  apps/storybook/.storybook/preview.js
  apps/storybook/package.json
  apps/storybook/stories/Button.jsx
  apps/storybook/stories/Button.stories.js
  apps/storybook/stories/Configure.mdx
  apps/storybook/stories/Header.jsx
  apps/storybook/stories/Header.stories.js
  apps/storybook/stories/Page.jsx
  apps/storybook/stories/Page.stories.js
  apps/storybook/stories/assets/accessibility.png
  apps/storybook/stories/assets/accessibility.svg
  apps/storybook/stories/assets/addon-library.png
  apps/storybook/stories/assets/assets.png
  apps/storybook/stories/assets/avif-test-image.avif
  apps/storybook/stories/assets/context.png
  apps/storybook/stories/assets/discord.svg
  apps/storybook/stories/assets/docs.png
  apps/storybook/stories/assets/figma-plugin.png
  apps/storybook/stories/assets/github.svg
  apps/storybook/stories/assets/share.png
  apps/storybook/stories/assets/styling.png
  apps/storybook/stories/assets/testing.png
  apps/storybook/stories/assets/theming.png
  apps/storybook/stories/assets/tutorials.svg
  apps/storybook/stories/assets/youtube.svg
  apps/storybook/stories/button.css
  apps/storybook/stories/header.css
  apps/storybook/stories/page.css
  apps/storybook/yarn.lock
Due: none

feat: 스토리북 docker-compose 구성
  .gitignore
  apps/storybook/Dockerfile
  apps/storybook/package.json
  docker-compose.yml
Due: none

feat(storybook): typescript로 변경
  apps/storybook/.eslintrc.js
  apps/storybook/.prettierrc.js
  apps/storybook/package.json
  apps/storybook/stories/Button.stories.js
  apps/storybook/stories/Button.stories.ts
  apps/storybook/stories/Button.tsx
  apps/storybook/stories/Header.stories.ts
  apps/storybook/stories/Header.tsx
  apps/storybook/stories/Page.stories.ts
  apps/storybook/stories/Page.tsx
  apps/storybook/tsconfig.json
  packages/eslint-config/package.json
  packages/eslint-config/storybook.js
  yarn.lock
Due: none

feat(storybook): eslint관련 설정 확인
  apps/storybook/package.json
  apps/storybook/stories/Button.tsx
  apps/storybook/stories/Header.tsx
  apps/storybook/stories/Page.tsx
Due: none

feat: lintstage에 storybook 설정 추가
  .lintstagedrc.json
Due: none

feat(web): 설정 추가
  .gitignore
  apps/web/.eslintrc.js
  apps/web/next-env.d.ts
  apps/web/package.json
  apps/web/src/api/config.ts
  apps/web/src/api/domains/auth.ts
  apps/web/src/api/fetch.ts
  apps/web/src/api/queries/auth.ts
  apps/web/src/api/route/index.tsx
  apps/web/src/api/route/route.ts
  apps/web/src/api/route/types/auth.ts
  apps/web/src/api/route/types/index.ts
  apps/web/src/api/route/types/main.ts
  apps/web/src/app/auth/signin/hooks/useMainCharacterViewModel.ts
  apps/web/src/app/auth/signin/page.tsx
  apps/web/src/app/auth/signin/view.tsx
  apps/web/src/components/basic/HydratePage.tsx
  apps/web/src/context/AuthContext.tsx
  apps/web/src/context/ClientContext.tsx
  apps/web/src/context/ReactQueryContext.tsx
  apps/web/src/hooks/useInput.ts
  apps/web/src/lib/react-query/config.ts
  apps/web/src/pages/api/auth/[...nextauth].ts
  apps/web/src/stores/useUserInfoStore.ts
  apps/web/src/types/login/api.user.d.ts
  apps/web/src/types/next-auth.d.ts
  apps/web/src/utils/query/getQueryClient.tsx
  apps/web/src/utils/session/getUserServerSession.ts
  apps/web/src/utils/session/useClientSession.ts
  apps/web/tsconfig.json
  packages/eslint-config/library.js
  packages/typescript-config/nextjs.json
  turbo.json
  yarn.lock
Due: yarn workspace web lint --cache

fix: type에러에 대한 부분 수정
  apps/web/src/api/queries/auth.ts
  apps/web/src/app/auth/signin/hooks/index.ts
  apps/web/src/app/auth/signin/hooks/useMainCharacterViewModel.ts
  apps/web/src/app/auth/signin/view.tsx
  apps/web/src/config.ts
  apps/web/src/types/query/custom.queryOptions.d.ts
  packages/typescript-config/nextjs.json
Due: yarn workspace web lint --cache

feat(layout): add a ClientContext
  apps/web/src/app/layout.tsx
Due: yarn workspace web lint --cache

feat: 기본설정 추가
  .gitignore
  apps/web/.eslintrc.js
  apps/web/next-env.d.ts
  apps/web/package.json
  apps/web/src/api/config.ts
  apps/web/src/api/domains/auth.ts
  apps/web/src/api/fetch.ts
  apps/web/src/api/queries/auth.ts
  apps/web/src/api/route/index.tsx
  apps/web/src/api/route/route.ts
  apps/web/src/api/route/types/auth.ts
  apps/web/src/api/route/types/index.ts
  apps/web/src/api/route/types/main.ts
  apps/web/src/app/auth/signin/hooks/index.ts
  apps/web/src/app/auth/signin/hooks/useMainCharacterViewModel.ts
  apps/web/src/app/auth/signin/page.tsx
  apps/web/src/app/auth/signin/view.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/basic/HydratePage.tsx
  apps/web/src/config.ts
  apps/web/src/context/AuthContext.tsx
  apps/web/src/context/ClientContext.tsx
  apps/web/src/context/ReactQueryContext.tsx
  apps/web/src/hooks/useInput.ts
  apps/web/src/lib/react-query/config.ts
  apps/web/src/pages/api/auth/[...nextauth].ts
  apps/web/src/stores/useUserInfoStore.ts
  apps/web/src/types/login/api.user.d.ts
  apps/web/src/types/next-auth.d.ts
  apps/web/src/types/query/custom.queryOptions.d.ts
  apps/web/src/utils/query/getQueryClient.tsx
  apps/web/src/utils/session/getUserServerSession.ts
  apps/web/src/utils/session/useClientSession.ts
  apps/web/tsconfig.json
  packages/eslint-config/library.js
  packages/typescript-config/nextjs.json
  turbo.json
  yarn.lock
Due: yarn workspace web lint --cache

feat(style): scss 추가 및 stylelint 적용
  apps/web/.stylelintrc.js
  jest.config.js
  package.json
  packages/ui/.eslintrc.js
  packages/ui/.stylelintrc.js
  packages/ui/package.json
  packages/ui/src/components/button.tsx
  packages/ui/src/components/button/button.tsx
  packages/ui/src/components/button/index.module.scss
  packages/ui/src/components/button/index.ts
  packages/ui/src/styles/index.scss
  packages/ui/tsconfig.json
  packages/ui/vite.config.mts
  turbo.json
  yarn.lock
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

Path conditions:
  yarn workspace @repo/ui lint --cache: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  yarn workspace web lint --cache: any of: apps/web/**/*.{js,jsx,ts,tsx}
  yarn workspace app lint --cache: any of: apps/app/**/*.{js,jsx,ts,tsx}
